.hidden {
  display: none;
}

.minusLeft {
	left: -12px;
}

// THIS PROJECT, SPECIFIC SELECTORS HELPER
.portfolio {
  &__main {
    & > .hidden {
      display: none;
    }
  }
}

.preloader {
	&.hidden {
		display: none;

		.preloader__dots-container {
			.preloader__dot-item {
				animation-play-state: paused;
			}
		}
	}
}