@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import 'var.scss';
@import 'mixin.scss';
@import 'basic.scss';
@import 'helper.scss';

body {
  padding: 0 $space-basic;
  font-family: 'Fira Sans', sans-serif;
  background-color: $primary-color;
  text-align: center;
}

.portfolio {
  margin: 50px auto;
  max-width: 1200px;
  min-height: 400px;

  nav {
    background-color: $primary-color;
  }

  &__menu {
    margin: 0;
    padding-left: 0;
    @include flex(flex-start);

    li {
      padding: $space-basic;
      @include font(1);
      list-style-type: none;
      background-color: $white;

      &:first-child {
        border-radius: 10px 0 0 0;
      }
      &:last-child {
        border-radius: 0 10px 0 0;
      }
    }
  }

  &__main {
    padding: $space-basic;
    @include flex();
    min-height: 400px;
    border-radius: 0 10px 10px 10px;
    background-color: $white;
    overflow: hidden;

    & > * {
      @include flex();
      max-width: 800px;
    }
  }

  &__title {
    @include font(1.6);
  }

  &__subtitle {
    margin-top: $space-basic;
    display: block;
  }

  &__skills {
    .icon {
      font-size: 3.3em;
    }
  }

  &__portfolio {

  }
}