@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import 'var.scss';
@import 'mixin.scss';
@import 'basic.scss';
@import 'helpers.scss';
@import 'keyframes.scss';

html {
  @include rwd(medium) {
    font-size: 15px;
  }

  @include rwd(small) {
    font-size: 14px;
  }
}

body {
  padding: 0 $basic-padding;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  background-color: #d6ae7b;
  background-image: url("../img/bg_body.png");
  overflow: auto;

  &.loading {
    overflow: hidden;
    height: 100%;
  }

  @include rwd(medium) {
    padding: 0;
  }
}

.portfolio {
  margin: 70px auto;
  max-width: 1200px;
  min-height: 400px;

  &__nav {
    @include flex(space-between);
  }

  &__social-icons {
    font-size: 1.1rem;
  }

  &__social-icons-simple {
    margin: 13px;
    @include reset(a);
    color: $white;

    &:first-of-type {
      margin-right: 7px;

      @include rwd(small) {
       margin-left: 0;
      }
    }

    &:last-of-type {
      margin-left: 0;
    }
  }

  &__main {
    padding: $basic-padding;
    @include flex();
    min-height: 400px;
    box-shadow:   0px 12px 18px 2px rgba(0, 0, 0, 0.23);
    background-color: $white;
    overflow: hidden;

    & > * {
      @include flex();
      max-width: 800px;
    }
  }

  &__title {
    font-size: 1.3rem;
  }

  &__self-presentation {
    margin: 0;
  }

  &__full-name {
    letter-spacing: 1px;
    animation: moveFullName 1.8s ease-out;

    &--stopAnimation {
      animation: none;
    }
  }

  &__subtitle {
    margin-top: 8px;
    display: block;
    font-size: 1.1rem;
    color: rgba($black, .8);
    animation: moveSubtitle .6s ease-out 1.8s;
    animation-fill-mode: backwards;

    &--stopAnimation {
      animation: none;
    }
  }

  &__about-me {
    max-width: 600px;

    p {
      line-height: 30px;
    }
  }

  &__skills {
    padding: 16px 0;
    max-width: 600px+$scrollBarWidth;
    justify-content: flex-start;
    overflow: auto;

    @include rwd(647px) {
      max-height: 336px;
    }

    @include rwd(647px) {
      max-width: 450px;
    }

    @include rwd(497px) {
      max-width: 300px;
      max-height: 560px;
    }

    @include rwd(323px) {
      justify-content: center;
      max-height: 530px;
    }

    .icon {
      font-size: 3.3em;
    }
  }

  &__skills-regular,
  &__skills-basic {
    display: flex;
    flex-wrap: wrap;
  }

  &__basic-skills-title {
    width: 100%;
    font-size: 0.9rem;
    font-weight: normal;
  }

  &__skills-simple {
    margin-left: 0;
    margin-right: 0;
    min-width: 150px;

    &--bootstrap-icon {
      position: relative;
      top: 1px;
    }
  }

  &__english-icon {
    width: 3.4em;
  }

  &__skills-description {
    margin-top: 15px;
  }

  &__projects {
    margin: 16px 0;
    padding-bottom: 10px;
    justify-content: flex-start;
    max-width: 870px+$scrollBarWidth;
    max-height: 470px;
    overflow: auto;

    @include rwd(917px) {
      max-width: 580px;
      max-height: 705px;
    }

    @include rwd(603px) {
      justify-content: center;
      max-height: 940px;
    }
  }

  &__project-item {
    margin: 20px 20px 10px 20px;
    position: relative;
    max-width: 250px;
    max-height: 200px;
    overflow: hidden;

    &:hover .portfolio__img-item {
      transform: scale(1.1);
    }

    &:hover .portfolio__project-description {
      @include flex();
    }
  }

  &__img-item {
    width: 100%;
    height: 200px;
    transition: transform .8s;
  }

  &__project-description {
    padding: 7px 0;
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 34px;
    color: $white;
    background: rgba(0, 0, 0, .5);

    .icon {
      margin: 0 13px;
      color: $white;
      text-decoration: none;

      &:last-of-type {
        margin-left: 0;
      }
    }
  }

  &__project-name {
    margin: 0 13px;
    flex-grow: 1;
    font-size: 0.9rem;
    text-align: left;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  @include flex();
  width: 100%;
  height: 100%;
  background-color: #d6ae7b;
  background-image: url("../img/bg_body.png");
  z-index: 1000;

  &__dots-container {
    @include flex(space-between);
    width: 67px;

    @include rwd(phone) {
      width: 55px;
    }
  }

  &__dot-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $white;
    animation: changePreloaderBgColor .4s infinite alternate;

    @include rwd(phone) {
      width: 11px;
      height: 11px;
    }

    &:nth-child(1) {
      animation-delay: -0.8s;
    }

    &:nth-child(2) {
      animation-delay: -0.4s;
    }

    &:nth-child(3) {
      animation-delay: -0.2s;
    }
  }
}

.menu {
  margin: 0;
  padding-left: 0;
  @include flex(flex-start);

  &__minusLeft {
    padding: 0 $basic-padding;
    position: relative;
    height: 0;
    border-right: 34px solid transparent;
    border-bottom: 34px solid rgba(255,255,255,.7);
    line-height: 34px;
    list-style-type: none;
    cursor: pointer;
    z-index: 1;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        left: -#{($i*12)-12}px;
      }
    }

    @include rwd(medium) {
      font-size: 1.2rem;
      border-right-width: 30px;
    }

    @include rwd(small) {
      border-right-width: 28px;
    }

    @include rwd(395px) {
      padding-left: 9px;
      padding-right: 9px;
      border-right-width: 26px;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          left: -#{($i*6)-6}px;
        }
      }
    }

    @include rwd(355px) {
      padding-left: 9px;
      padding-right: 9px;
      border-right-width: 19px;
    }

    &:hover {
      border-bottom-color: $white;
    }

    & > .icon {
      margin-top: 6px;
      display: inline-block;
    }

    &--marginTopCentering {
      & > .icon {
        margin-top: 7px;
      }
    }
  }

  li.menu__active {
    border-bottom-color: $white;
    z-index: 0;
  }
}

.self-photo-item {
  margin: 12px auto;
  display: block;
  width: 90px;
  border-radius: 50%;
  animation-name: moveSelfPhoto;
  animation-duration: 1.8s;
  animation-timing-function: ease-out;

  &--stopAnimation {
    animation: none;
  }

  @include rwd(medium) {
    width: 80px;
  }
}

.contact-data {
  font-style: normal;

  &__email {
    @include reset(a);
    color: $black;

    &:hover {
      .contact-data__email-simple {
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $black;
        }
      }
    }
  }

  &__email-simple {
    &::after {
      content: "";
      width: 0%;
      transition: width .2s;
    }
  }
}

.cookie-alert {
  padding: $basic-padding;
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 250px;
  @include flex();
  flex-direction: column;
  font-size: 0.8rem;
  border-radius: 5px;
  box-shadow: 1px 1px 1px $black;
  background-color: rgba(#d6c57b, .9);
  z-index: 999;

  @include rwd(phone) {
    left: 50%;
    transform: translateX(-50%);
  }

  &__information {
    margin: 0;
    font-weight: normal;
  }

  &__accept {
    margin: 12px;
    padding: 5px 8px;
    @include reset(a);
    color: $black;
    border-radius: 4px;
    background-color: #7bbfd6;
    transition: background-color .2s;

    &:hover {
      background-color: lighten(#7bbfd6, 10);
    }
  }

  &__escape {
    @extend .cookie-alert__accept;
    margin: 0;
  }
}