@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import 'var.scss';
@import 'mixin.scss';
@import 'basic.scss';
@import 'helper.scss';

body {
  padding: 0 $basic-padding;
  font-family: 'Fira Sans', sans-serif;
  background-color: $primary-color;
  text-align: center;
}

.portfolio {
  margin: 50px auto;
  max-width: 1200px;
  min-height: 400px;

  &__nav {
    background-color: $primary-color;
  }

  &__main {
    padding: $basic-padding;
    @include flex();
    min-height: 400px;
    background-color: $white;
    overflow: hidden;

    & > * {
      @include flex();
      max-width: 800px;
    }
  }

  &__title {
    @include font(1.4);
  }

  &__subtitle {
    margin-top: $basic-padding;
    display: block;
    @include font(1.3);
  }

  &__about-me {
    max-width: 600px;

    p {
      line-height: 30px;
    }
  }

  &__skills {
    max-width: 600px;
    justify-content: flex-start;

    .icon {
      font-size: 3.3em;
    }
  }

  &__skills-simple {
    margin-left: 0;
    margin-right: 0;
    min-width: 150px;
  }

  &__skills-description {
    margin-top: 15px;
  }

  &__projects {
    padding-bottom: 10px;
    justify-content: flex-start;
    max-width: 870px;
  }

  &__project-item {
    margin: 20px 20px 10px 20px;
    position: relative;
    max-width: 250px;
    max-height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: 200px;
    }

    &:hover .portfolio__project-description {
      @include flex();
    }
  }

  &__project-description {
    padding: 7px 0;
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 34px;
    color: $white;
    background: rgba(0, 0, 0, .5);

    .icon {
      margin: 0 13px;
      color: $white;
      text-decoration: none;

      &:last-of-type {
        margin-left: 0;
      }
    }
  }

  &__project-name {
    margin: 0 13px;
    flex-grow: 1;
    font-size: 0.9rem;
    text-align: left;
  }
}

.menu {
  margin: 0;
  padding-left: 0;
  @include flex(flex-start);

  li {
    padding: $basic-padding;
    position: relative;
    @include font(1);
    height: 0;
    border-right: 30px solid transparent;
    border-bottom: 30px solid rgba(255,255,255,.7);
    line-height: 30+($basic-padding*2);
    list-style-type: none;
    cursor: pointer;
    z-index: 1;
      
    &:hover {
      border-bottom-color: $white;
    }
  }
    
  li.menu__active {
    border-bottom-color: $white;
    z-index: 0;
  }
}

.contact-data {
  font-style: normal;
}